/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.dropzone {
  min-height: 256px;
  background: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: helvetica;
  font-weight: normal;
  font-size: 22px;
  padding: 2ex;
  color: darkgray;
  border: 3px dashed cornflowerblue;
  transition: background 1s ease;
}
.edgar-datepicker {
  font-family: helvetica;
  font-size: 1.6rem;;
  text-align: center;
  padding: 1ex;
  margin-bottom: 2ex;
}
.edgar-logo {
  height: 124px;
  fill: cornflowerblue;
  fill-opacity: 0.2;
  stroke: cornflowerblue;
  stroke-width: 7;
  margin-bottom: 1ex;
  transform: translate(-6%, 0);
  transition: fill, fill-opacity 500ms ease;
}
.dropzone:hover > .edgar-logo {
  fill: cornflowerblue;
  fill-opacity: 0.6;
}
